
<div class="header">
  <h1>Enter New Insolvent Individual</h1>
</div>

<div class="big-div-wrap">
  <div class="form-wrap">
    <div class="from">
      <%= simple_form_for(@debtor) do |f| %>
      <% if @debtor.errors.any? %>
        <div class="errors-container">
          <ul>
            <% @debtor.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
        <%= f.input :unique_id, label:false %>
        <%= f.input :year, label:false %>
        <%= f.input :area, label:false %>
        <%= f.input :sex, label:false %>
        <%= f.input :family, label:false  %>
        <%= f.input :occupation, label:false  %>
        <%= f.input :cause, label:false  %>
        <%= f.input :income, label:false  %>
        <%= f.input :income_source, label:false  %>
        <%= f.input :unsecured_debts, label:false  %>
        <%= f.input :value_of_assets, label:false  %>
        <%= f.input :non_compliance_type, label:false  %>
        <%= f.submit "Calculate Risk", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>

