
<h1> <%= @debtor.unique_id %></h1>
<ul>
  <li> <%= @debtor.year rescue null  %> </li>
  <li> <%= @debtor.area rescue null  %> </li>
  <li> <%= @debtor.sex rescue null  %> </li>
  <li> <%= @debtor.family rescue null  %> </li>
  <li> <%= @debtor.occupation rescue null  %> </li>
  <li> <%= @debtor.cause rescue null  %> </li>
  <li> <%= @debtor.income rescue null  %> </li>
  <li> <%= @debtor.income_source rescue null %> </li>
  <li> <%= @debtor.value_of_assets rescue null %> </li>
  <li> <%= @debtor.non_compliance_type rescue null %> </li>
</ul>

<h3> Your Score </h3>

<!-- <div class="circle">
  <div class="fill">
  </div>
  <h3 class="score"><%= @debtor.score %> %</h3>
</div> -->

<%= @debtor.score %>

<%= link_to "Home", root_path %>
